<div class='container'>
    <div class= "row">
        <div class= "col-md-6 text-center">
            <h3>Sucessfully Generated code</h3>
        </div>
    </div>

    <div class= "row">
        <div class= "col-md-6 text-center">
            <%= image_tag(@qr_url) %>
        </div>
    </div>
</div>